body {
  font-family: 'Slabo 27px', serif;
  background-color: #151515;
  color: #cccccc;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Arvo;
  color: #3A89E8;
  text-align:center;
}

#title {
  color: #cccccc;
}

.container div{
  border: 0.1rem solid #726561;
}

/* Tablet Landscape Breakpoint */
@media only screen and (min-width: 900px) {
  .container > div > * {
    padding: .5rem 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align:left;
  }

  span {
    display: inline-flex;
  }
}
