  .header {
    display: block;
  }

  .container {
    display: grid;
  }

  header {
    grid-area: header;
    height: 100px;
  }

  .topLeft {
    grid-area: topLeft;
  }

  .midLeft {
    grid-area: midLeft;
  }

  .botLeft {
    grid-area: botLeft;
  }

  .topRight {
    grid-area: topRight;
  }

  .midRight {
    grid-area: midRight;
  }

  .botRight {
    grid-area: botRight;
  }

  .container {
    height: 550px;
    grid-template-columns: repeat(12, auto, auto);
    grid-template-rows: repeat(4, auto, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-content: stretch;
  }

  #format1 {
    grid-template-areas:
      "topLeft topLeft topRight"
      "topLeft topLeft midRight"
      "botLeft botRight botRight";
  }

  #format2 {
    grid-template-areas:
      "topLeft topLeft topRight topRight"
      "topLeft topLeft topRight topRight"
      "botLeft midLeft midRight botRight";
  }


  #format3 {
    grid-template-areas:
      "topLeft topLeft topRight"
      "midLeft midRight midRight"
      "botLeft midRight midRight";
  }


  #format4 {
    grid-template-areas:
      "topLeft topLeft topRight topRight"
      "topLeft topLeft midRight midRight"
      "botLeft botLeft midRight midRight";
  }

@media only screen and (min-width: 900px) {
    .container{
      height: 800px;
    }
  }
